@model MVCLogin.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        body{
            background-image: url("https://www.sss-solutions.org/wp-content/uploads/2018/01/1116146294-login-page-background-image-112.jpg");
        }
        #login-div{
            position:absolute;
            left:40%;
            top:40%;
            border: 1px solid #ccc;
            padding: 10px 10px;
        }
        .field-validation-error{
            color:red;
        }
    </style>
</head>
<body>
    <div id="login-div">
        @using (Html.BeginForm("Athorize","Login",FormMethod.Post))
        {
            <table>
                <tr>
                    <td></td>
                    <td style="text-decoration:underline; color:gold"><h3>Login Page</h3></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.UserName)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.UserName)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.ValidationMessageFor(model => model.UserName)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Password)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Password)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Password)
                    </td>
                </tr>
                <tr>
                    <td colspan="2" >
                        <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" name="Login" value="Login" />
                        <input type="reset" name="Reset" value="Clear" />
                    </td>
                </tr>
            </table>
        }
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
